@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  color: #4F5665;
  font-family: "Rubik";
  font-size: 1rem;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body._lock {
  overflow: hidden;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

.flying-buttons {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bg-btn {
  opacity: 0.4;
  z-index: 0;
  width: 100px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow {
  position: absolute;
  font-size: 5px;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.arrow span {
  font-size: 60px;
}

.arrow:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.arrow-img {
  width: 100px;
}

@media only screen and (orientation: portrait) {
  html, body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
  }
}
/*------------------------------------------------------------------*/
body {
  font-family: "Rubik";
  overflow-x: hidden;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 73.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

else [class*=__container] {
  margin: 0 auto;
  max-width: 73.75rem;
  box-sizing: content-box;
}
@media (max-width: 75.625em) {
  else [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.9375em) {
  else [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.9375em) {
  else [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container #score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}
.container .title {
  letter-spacing: 4px;
  font-size: 1.75rem;
  margin: 0;
  text-transform: uppercase;
  font-family: "Rubik Mono One";
  padding-bottom: 20px;
  color: #8c00ff;
}
.container .title_score {
  font-size: 1.2rem;
  margin: 0;
  text-transform: uppercase;
  font-family: "Rubik Mono One";
  color: #8c00ff;
}
.container #introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}
.container #perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

.end {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6862745098);
  top: 0;
  left: 0;
  transition: all 0.8s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end__wrapper {
  padding: 10px 10px 0px 10px;
  position: relative;
  width: 500px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(22, 1, 12, 0.385);
  border: 2px solid #7c15b7;
  box-shadow: 0 0 40px #7c15b7, inset 0 0 40px #7c15b7;
  padding: 30px;
  transition: all 0.8s ease 0s;
  transform: perspective(600px) translate 0px, -100% rotateX(45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.end__but {
  display: flex;
  gap: 20px;
}
.material-symbols-outlined {
  font-size: 100px;
  color: #7c15b7;
  text-shadow: #7c15b7 4px 4px 10px;
}